.authors     {background-color: #FFBFBF;}
.editor      {background-color: #FFCCBF;}

.atitle     {background-color: #C9C8FF;}
.title      {background-color: #BFDEFF;}

.year        {background-color: #FFFCBF;}
.date        {background-color: #FFFEE6;}

.volume      {background-color: #E1BFFF;}
.issue       {background-color: #F4BFFF;}

.edition {background-color: #E6ECFF;}

.publoc    {background-color: #CDFFBF;}
.publisher   {background-color: #E6FFBF;}

.pages, .spage, .epage       {background-color: #D7BFFF;}
.sponsor {background-color: #CFE6E6;}

.targetURL, .access-date {background-color: #CCCCCC;}
.comment      {background-color: #E6DFCF;}