	.dhtmlgoodies_tree{
		margin:0px;
		padding:0px;
	}
	
	.dhtmlgoodies_tree ul{	/* Sub menu groups */
		padding-left:0px;
		padding-top: 0.5em;
		display:none;	/* Initially hide sub nodes */
	}
	
	.dhtmlgoodies_tree li{	/* Nodes */
		list-style-type:none;
		vertical-align:middle;
		padding-left: 3em;
		border-top: 2px solid #ccc;
		padding-top: 0.5em;
		margin-bottom: 0.5em;
	}
	
	.dhtmlgoodies_tree li a{	/* Node links */
		padding-left: 0.5em;
	}
	
	.dhtmlgoodies_tree li img {
		max-width: 50px;
		vertical-align: middle;
	}
