html, body, td, p, th, a  { padding: 0; }

body {
  text-align: center;
  margin:0;
  padding: 20px;
  color:  #335;
  background-color: #eee; 
  background-image: url(../img/bg.gif);
}

div#top {
 width: 980px;
 text-align: left;
 padding:0;
 margin:auto;
}

a {
	text-decoration:none;
	color: #009;
}

//.item a {  border-bottom: 1px solid #ddd}
a:hover { background-color: #ccc; color: #336;}

.citation {
	padding: 0.2em;
	margin-bottom:10px;
	background: #fff;
//	-moz-border-radius:5px;
	border:solid 1px #ccc;
	font-size: 15px;
}

.citation a:hover{
	background-color: #eee;
	border-bottom: 0px;
}

.button {
	background:#ddd url(../img/bg-button.gif) repeat-x 0 0;
	padding: 0.2em 0.5em 0.2em 0.5em;
//	background: #fff;
//	-moz-border-radius:5px; 
	border:solid 1px #ccc;
	color: #009;
}
/*
.button a:hover{
//	padding: 0.2em 0.2em 0.2em 0.2em;
//	margin: 0em -0.5em 0em -0.5em;
//	background-color: #eee;
//	border-bottom: 0px;
}
*/
body {
 font-family: "Tahoma", "Trebuchet MS", "Gill Sans", Geneva, Arial, Helvetica, sans-serif;
 font-size:  medium;
 
}

h1,h2,h3,h4,h5,#navlinks {
  font-family: "Trebuchet MS", "Gill Sans", Geneva, Arial, Helvetica, sans-serif;
  font-style: italic; 
  letter-spacing: 0.05em;
}

//input:hover,textarea:hover {color: #336; }
//h1 a:hover { color: #667 !important }

input,textarea,select { color: #336 }
h5 a { color: inherit }

/** the main divs (nav, side, content, footer, ...) inherit this class */
.frame {
 background-color: #fff;
 border: 1px solid #ccc;
 padding: 15px;
}

.mainframe {
	margin-top: -5px;
//	-moz-border-radius:5px;
	background:#ddd;
}

 
div#nav {
   margin-bottom: 5px;   
   background-color: #fff;
   background-image: url(../img/lemon-logo.jpg);
   background-position: top right;
   background-repeat: no-repeat;
   padding: 10px !important;
 }

div#footer, div#nav {
 clear: both;
 padding: 10px;
}

div#footer span {
 padding:0 5px; 
 margin:0; 
 border-right: 1px solid;  
 font-size:  small;
 color: #777;
}

div#footer a { font-size:small }

h1 { 
 margin: 5px 0;
 padding:0;
 font-weight: 900;
 font-style:italic;
 font-size:2.2em;
}

h2 {  margin: 0; clear:right}

img {
   max-width: 895px;
}

/* margin to footer */
div#footer {
 margin-top: 5px;
}

div.navigation { margin-bottom: 2em; }

div#navlinks {
 line-height:1em; 
 height:1.2em;
 text-align:right;
}


div#navlinks span { 
 display:inline; float:left;
 padding:0; margin:0;
 height:1.2em;
 }

div#navlinks form { 
 display: inline; 
 vertical-align:top;
 padding:0;
 margin:0;
/* border:1px solid; */
}


div#navlinks form input#s {
// -moz-border-radius: 3px; 
 width: 8em;
 height: 1.3em;
}


div#navlinks a { 
 border-left: 1px solid #ddd;
 text-align:center;
 margin: 0;
 padding: 0 1em;
 letter-spacing: 0.15em;
 font-style: italic;
 font-weight:900 !important;
}

div#navlinks a.last { 
  border-right: 1px solid #ddd;
}

div#navlinks a:hover {
  border-bottom: 3px solid #ccc;
}

#langlinks {
 font-size: 0.8em;
 letter-spacing: 0.05em;
}

#langlinks *{
 border-left: 1px solid #ddd;
 padding: 0 1em;
 font-style: normal;
 letter-spacing: 0.05em !important;
}

.topnav {
	background:#eeeeee;
	margin:10px 5px 0 0;
	border-bottom: 1px solid #eee;
//	-moz-border-radius:5px;
}

.selectednav {
	border-bottom: 2px solid #ddd;
	background-color: #ddd;
}


img.edit-link {
	vertical-align: bottom;
	height: 20px;
	width: 20px;
	margin: 0.75em -0.5em 0 0.5em;
}

/* set the image to use and establish the lower-right position */ 
.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2,
.cssbox_wide, .cssbox_body_wide, .cssbox_head_wide, .cssbox_head_wide h2 {
	background: transparent url(../img/demobox.png) no-repeat bottom right; 
}

.grey, .grey h2 {
	background: transparent url(../img/demobox-grey.png) no-repeat bottom right; 		
}

.cssbox { 
	width: 300px !important; /* intended total box width - padding-right(next) */
	width: 285px; /* IE Win = width - padding */
	padding-right: 15px; /* the gap on the right edge of the image (not content padding) */
	margin: 20px auto; /* use to position the box */ 
}

.cssbox_wide { 
	width: 615px !important; /* intended total box width - padding-right(next) */
	width: 600px; /* IE Win = width - padding */
	padding-right: 15px; /* the gap on the right edge of the image (not content padding) */
	margin: 20px auto; /* use to position the box */ 
} 

/* set the top-right image */ 
.cssbox_head, .cssbox_head_wide { 
	margin-top: -1.5em;
	background-position: top right; margin-right: -15px; /* pull the right image over on top of border */
	padding-right: 40px; /* right-image-gap + right-inside padding */ 
} 

/* set the top-left image */ 
.cssbox_head h2, .cssbox_head_wide h2 { 
	background-position: top left; 
	margin: 0; /* reset main site styles*/ 
	border: 0; /* ditto */ 
	padding: 25px 0 15px 40px; /* padding-left = image gap + interior padding ... no padding-right */ 
	height: auto !important; height: 1%; /* IE Holly Hack */ 
} 

/* set the lower-left corner image */ 
.cssbox_body, .cssbox_body_wide {
	margin-bottom: -1.5em;
	background-position: bottom left; 
	margin-right: 25px; /* interior-padding right */ 
	padding: 5px 0 15px 40px; /* mirror .cssbox_head right/left */ 
}

div.btn, a.btn {
	width: 50%;
	text-align: center;
	background-color: #86BDE7;
	margin: 1em auto 0.6em auto;
	padding: 1px 0;
}

div.btn span, a.btn span {
	font-weight: bold;
	display: block;
	padding: 2px 5px 1px;
	border: 2px solid #86BDE7;
	margin: 0 -1px;
}

div.greyed {
	background-color: #D5D5D5;
}

div.greyed span {
	color: #999;
	border: 2px solid #D5D5D5;
}


.optional {
//	display: inline;
}

div.editbibtex {
	background-color:#F0F0E8;
	border-collapse:collapse;
	border-bottom-color:#CCCCCC;
border-bottom-style:solid;
border-bottom-width:1px;
border-left-color:#CCCCCC;
border-left-style:solid;
border-left-width:2px;
border-right-color:#CCCCCC;
border-right-style:solid;
border-right-width:1px;
border-top-color:#CCCCCC;
border-top-style:solid;
border-top-width:2px;	
//    width: 90%;
//    margin-left: 5%;
//    margin-right: 5%;
//    margin-bottom: 1em;
}

div.editbibtex p.updated {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0.5em;
    text-align: center;
}

table.editbibtex {
    border-collapse: collapse;
}

table.editbibtex tr td.label {
    width: 20%;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 0.5em;
    vertical-align: top;
    text-align: right;
}

table.editbibtex tr td.field {
    padding: 0.5em 0 0.5em 1em;
    vertical-align: top;
    text-align: left;
}

table.editbibtex tr td.label span.required,
span.required {
    font-family: sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 0.75em;
    color: red;
}

span.field_description,
div.field_description {
    padding-top: 0.5em;
    margin-left: 2em;
    font-size: 0.8em;
    font-style: italic;    
}

table.editbibtex tr td.field div.field_description blockquote {
    font-style: normal;
    margin-top: 0.5em;
}

table.editbibtex tr td.field input.text, input.text, 
table.editbibtex tr td.field textarea { 
    width: 80%;
	border: 1px solid #ddd; padding: 0.3em;
}

table.editbibtex tr td.field textarea#bulk_bibtex {
    height: 20em;
}

table.editbibtex tr td.field textarea#full_reference { 
    height: 6em;
}

table.editbibtex tr td.field input[type="submit"] {
    vertical-align: top;
}

table.editbibtex tr {
//    background: #cef;
}

table.editbibtex tr.full_reference {
    background: #FFFACD;
}

table.editbibtex tr.bibtex {
//    background: #FFEFD5;
    border-top: solid #ccc 2px;
    border-bottom: solid #ccc 2px;
}

// edit me for document and citation data
table.editbibtex tr.author,
table.editbibtex tr.title,
table.editbibtex tr.article-title,
table.editbibtex tr.affiliation,
table.editbibtex tr.year,
table.editbibtex tr.bibtitle {
    background: #fdd;
}

table.editbibtex tr.bibtype {
    background: #fdf;
    border-top: solid #ccc 2px;
    border-bottom: solid #ccc 2px;
    font-family: sans-serif;
}

table.editbibtex tr.buttons {
    background: #dfd;
    border-top: solid #ccc 2px;
}

table.editbibtex tr.buttons input {
//    font-size: 2em;
    font-weight: bold;
}

div#bibtex {
    margin-left: 5%;
    margin-right: 5%;
}

div#references h2 {
    display: inline;
}

.as-bibtex {
    display: inline;
    font-size: 0.75em;
    vertical-align: top;
    white-space: nowrap;
    padding-left: 1em;
}

dt.reference {
    margin-top: 0.5em;
}

dd.reference {
    margin-bottom: 0.5em;
}

		#upload {background:#eee;width:20em;margin:30px 0px 20px;border:solid 1px #ccc;
		}
		#upload form {padding-top:2px;}
		#upload legend {border-top:solid 1px #ccc;padding:5px 10px;background:#eee;font-weight:bold;color:#666; 
		}
		#upload fieldset {border: solid 1px #ccc;background:#ccc;margin-top:10px; 
		}
		#upload fieldset legend {border-top: solid 1px #ccc; font-weight:bold;font-size:small;padding:0 10px;background:#ddd; 
		}
		#upload .widget, #upload .uploadWidget {width:15em;}

		#upload .buttonTray {text-align:center;padding:5px 0px 0px 0px;margin-top:0px;}
		#upload .submitButton {width:19em;background:#ffc;font-weight:bold; margin: 5px 5px 0px 0px;}
		
hr {
	width: 50%; height: 2px; background-color: #ccc; border: 0; margin: 2em auto 2em auto;
}

li {
margin-bottom: 0.25em;
}

/*
*
* Login nav bar
*
*/

.loginform {
font-size: 0.75em;
}

.loginform *{
display: inline;
letter-spacing: 0.05em;
}

.loginform .input {
display: inline;
}

.submit {
display: inline;
}

.submit input {
font-size: 0.em;
}


/*
*  Styles for XSLT Article Rendering
*  (based on NLM DTD classes)
*/

table {
	background-color: #F0F0E8;
}

table.bm {
	border: 1px solid #000;
}

.tl-default, .tl-main-part {
	font-weight: bold;
}

dt {
	display: inline;
	float: left;
	margin-left: 20px;
	width: 80px;
}

dd {
	margin-left: 100px;
}

div.fig {
text-align: center;
}

div.fig img {
border: 1px solid #aaa
}

div.sec table, div.bm table {
border: 1px solid #aaa
}